.loading:before {
  content: "Loading...";
  opacity: .5;
}
body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  background: url(images/map.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  margin: 0 auto;
  width: 960px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.27);
  background-color: white;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}
.info {
  padding-left: 15px;
  width: 305px;
  float: left;
}
.stats {
  line-height: 21px;
}
.stat {
  clear: both;
}
.stat-label {
  text-align: right;
  font-weight: bold;
  width: 150px;
  float: left;
}
.stat-value {
  margin-left: 160px;
}
.itinerary {
  margin-top: 10px;
  height: 260px;
  overflow-y: scroll;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27);
}
.itinerary-header {
  padding: 8px;
  padding-bottom: 0;
  font-weight: bold;
}
.itinerary ol {
  margin-top: 0;
}
.itinerary li {
  cursor: pointer;
}
.itinerary li:hover {
  background-color: #eee;
}
#map-canvas {
  height: 480px;
  width: 640px;
  float: left;
}
.clear {
  clear: both;
}
