.loading:before {
  content: "Loading...";
  opacity: .5;
}
body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  background: url(images/map.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  margin: 0 auto;
  width: 900px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.27);
  background-color: white;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}
.info {
  padding-left: 15px;
  width: 305px;
  float: left;
}
.stats {
  padding-top: 10px;
  line-height: 21px;
}
.stat {
  clear: both;
}
.stat-label {
  text-align: right;
  font-weight: bold;
  width: 150px;
  float: left;
}
.stat-value {
  margin-left: 160px;
}
.itinerary {
  margin-top: 10px;
  height: 260px;
  overflow-y: scroll;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27);
}
.itinerary-header {
  padding-top: 10px;
  font-weight: bold;
}
.itinerary ol {
  margin-top: 0;
}
.itinerary li {
  cursor: pointer;
}
.itinerary li:hover {
  background-color: #eee;
}
#map-canvas {
  height: 520px;
  width: 580px;
  float: left;
}
#map-canvas h1 {
  margin: 0;
}
#map-canvas h3 {
  margin: 0;
}
.clear {
  clear: both;
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .container {
    width: 280px;
  }
  #map-canvas {
    width: 100%;
    height: 320px;
  }
  .info {
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 80%;
  }
  #map-canvas {
    width: 100%;
    height: 320px;
  }
  .info {
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 720px;
  }
  #map-canvas {
    width: 400px;
    height: 520px;
  }
}
